*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f0f2f5;
}
.container{
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 100px;
    margin-left: 275px;
}
form{
    background-color: white;
    border-radius: 10px;
    box-shadow: #b9a8a8 ;
    padding: 15px;
    width: 370px;
    height: 335px;
}
.tel{
   height: 50px;
   width: 99%;
   margin-bottom: 10px;
   text-align: center;
   align-content: center;
   border-radius: 7px;
   border: 1px #e7e8ea solid;
}
.passe{
    height: 50px;
    width: 99%;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
    border-radius: 7px;
   border: 1px #e7e8ea solid;
}
.connex{
    height: 50px;
    width: 99%;
    text-align: center;
    align-content: center;
    background-color: #1877f2; 
    border-radius: 7px;
    color: white;
    font-size: 18px;
    border: none;
    font-weight: bold;
}
.connex:hover{
    cursor: pointer;
}
.creer{
    height: 50px;
    width: 170px;
    text-align: center;
    background-color: #36a420;
    border-radius: 5px;
    align-content: center;
    color: white;
    font-size: 18px;
    border: none;
    margin-left: 100px;
    margin-top: 18px;
    font-weight: bold;
}
.info{
    margin-left: 60px;
    color: #1877f2;
    text-decoration: none;
}
.info::after{
    content: '';
    display: block;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    height: 0.5px;
    background: rgb(206, 201, 197);
}
.crpg{
    text-decoration: none;
    color: black; 
    font-weight: bold; 
}
.face{
    color: #1877f2;
    font-size: 3.8em;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: bolder;
    margin-bottom: 3px;
}
.txtface{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.7em;
    width: 500px;
    margin-top: 2px;
}
.gauche{
    margin-right: 100px;
    margin-top: 40px;
}
.footer{
    background-color: white;
    height: 180px;
    margin-top: 185px;
}
.par1{
    padding-top: 25px;
    color: #939393;
    margin-right: 70px;
    width: 70%;
    margin: auto;
    text-align: justify;
}
.par2{
    color: #939393;
    margin-right: 70px;
    width: 70%;
    margin: auto;
    text-align: justify;  
}
hr{
    width: 70%;
}
